/* Import icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
/* import font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box !important;
}

/* body { */
    /* Font cho toàn bộ trang */
    /* font-family: 'Inter', sans-serif; */
/* } */

img {
    max-width: 100%;
}


/* Bắt đầu top-nav */
.top-nav {
    padding: 20px 0;
}


.container-top-nav {
    width: 1200px;
    /* Kích thước của navigation */
    height: 40px;
    margin: 0 auto;
    display: flex;
    /* background-color: bisque; */
}

.top-nav-logo {
    width: 25%;
    display: flex;
}

.top-nav-logo-link {
    display: flex;
}



.top-nav-search-bar {
    width: 50%;
    display: flex;
    position: relative;
}

    .top-nav-search-bar-input {
        border: 0;
        /* Khoảng cách bên trong ô search*/
        padding: 0 60px 0 15px;
        flex: 1 1 auto;
        border-radius: 8px;
        border: 1px solid #7e7e7e;
    }

    .top-nav-search-bar-button {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #184d47;
        font-size: 15px;
        border: 0;
        border-radius: 8px;
        color: white;
        width: 50px;
        height: 30px;
    }

/* Icon class */
.top-nav-right {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color:  beige; */

}

    /* Icon */
    .account-icon, .heart-icon, .cart-icon {
        /* Kích thước của icon */
        font-size: 20px;
        /* Khoảng cách giữa các icon */
        margin-left:10px;
        border: 1px solid #e5e5e5;
        border-radius: 100%;
        /* Muốn căn giữa border phải có 3 thuộc tính */
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }

/* Kết thúc top-nav */

/* Bắt đầu main-nav */
.main-nav {
    background-color: #184d47;
}
.container-main-nav {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;

} 
    /* Bỏ dấu chấm trước li và bỏ dấu gạch chân */
    .main-nav-ul {
        flex: 1;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    .main-nav-ul a {
        text-decoration: none;
        color: rgba(255,255,255,1);
    }

    /* Đổi màu chữ khi hover */
    .main-nav-ul a:hover {
        color: rgba(255,255,255,0.6);
    }


    
    /* ::-webkit-scrollbar { 
        display: none; 
    } */



/* [class*="carousel-cell"] {
    margin-right: 15px;
    margin-left: 15px;
}
  
[class*="carousel-cell"]:first-child {
margin-left: 0px;
}

[class*="carousel-cell"]:last-child {
margin-right: 0px;
} */

.top-button-prev, .top-button-next {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #c3c3c3;
    border-radius: 50%;
}

.top-carousel-section {
    position: relative;
}
.top-button-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    z-index: 1;
}

.top-button-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    z-index: 1;
}

/* Start Flash Sale */

.flash-sale-section {
    margin-top: 3rem;
}

.flash-sale-title i {
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(241,173,53);
    background: radial-gradient(circle, rgba(241,173,53,1) 2%, rgba(255,0,0,1) 64%);
    border: 1px solid red;
    color: #ffffff;
    border-radius: 50%;
}

.swiper-button-next-flash-sale, .swiper-button-prev-flash-sale  {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #c3c3c3;
    border-radius: 50%;
}


/* End Flash Sale */

/* Start Best sellers */
.best-sellers-section {
    margin-top: 2rem;
}
.best-sellers-title i {
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(241,173,53);
    background: radial-gradient(circle, rgba(241,173,53,1) 2%, rgba(255,0,0,1) 64%);
    border: 1px solid red;
    color: #ffffff;
    border-radius: 50%;
}


.swiper-button-next-best-sellers, .swiper-button-prev-best-sellers {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #c3c3c3;
    border-radius: 50%;
}

.single-product {
    position: relative;
}

.btn-add-to-cart a {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.2rem;
    text-align: center;
    font-size: 20px;
    background-color: #179957;
    border: 1px solid #179957;
    color: #ffffff;
    border-radius: 50%;
}


.single-product:hover .btn-quick-view a, .single-product:hover .btn-add-to-wish-list a{
    display: block;
}

.btn-quick-view a {
    display: block;
    opacity: 0;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 20px;
    background-color: white;
    border: 1px solid #179957;
    color: #179957;
    border-radius: 50%;
}

.btn-quick-view a:hover {
    background-color: #179957;
    border: 1px solid  #179957;
    color: #ffffff;
}


.btn-add-to-wish-list a {
    display: block;
    opacity: 0;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 20px;
    background-color: white;
    border: 1px solid #179957;
    color: #179957;
    border-radius: 50%;
}

.btn-add-to-wish-list a:hover {
    background-color: #179957;
    border: 1px solid  #179957;
    color: #ffffff;
}
.group-btn {
    position: absolute;
    bottom: 20%;
    right: 2%;
}

.group-btn div a{
   margin-top: 0;
   transition: all 0.4s ease 0s;
}

.single-product:hover .group-btn a{
    opacity: 1;
    margin-top: 0.5rem;
    transition: all 0.4s ease 0s;
 }


 .single-product-item-stars-rating i {
    font-size: 0.7rem;
 }

 .star-yellow {
    color: #fed800;
    border: #fed800 ;
 }
 .star-gray {
    color: #b3b3b3 ;
 }

/* End Best sellers */



/* Banner Middle */

.banner-middle img {
    display: block;
    width: 100%;
    object-fit: cover;
}


.banner-item {
    position: relative;
}

.banner-content {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 8%;
    transform: translate(0,-50%);
}


/* Start new-arrivals */
.new-arrivals-header {
    background: rgb(25,187,105);
    background: linear-gradient(90deg, rgba(25,187,105,1) 0%, rgba(96,217,122,1) 80%);
    color: rgb(39, 39, 39);
   
}
.new-arrivals-title i {
    width: 1.7rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(241,173,53);
    background: radial-gradient(circle, rgba(241,173,53,1) 2%, rgba(255,0,0,1) 64%);
    border: 1px solid red;
    color: #ffffff;
    border-radius: 50%;
    
}
.swiper-button-prev-new-arrivals, .swiper-button-next-new-arrivals {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #c3c3c3;
    border-radius: 50%;
}



.swiper, .swiper-button {
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none;  /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;  /* Chrome and Opera */

}

.group-btn-action .btn-action{
    margin: 0.25rem;
    width: 1.7rem;
    height: 1.7rem;
    font-size: 1rem;
    background-color: white;
    color: #696969;
    box-shadow: 0px 0.1rem 0.5rem 0.05rem rgba(0,0,0,.15);
    border-radius: 50%;
}

.btn-xem-them button {
    color: #179957;
    border: 2px solid #179957;
}

/* End new-arrivals */


/* .container .grid div {
    border: 1px solid rgb(255, 55, 55);
    margin:0 -1px -1px 0;
} */

@media (max-width: 767px) {
    .banner-top .grid {
        grid-template-columns: repeat(1,1fr) !important;
    }
    .flash-sale-section .grid {
        grid-template-columns: repeat(12,1fr) !important;
    }

    .banner-middle .grid {
        grid-template-columns: repeat(1,1fr) !important;
    }
}

/* 

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2,1fr) !important;
    }

}

@media (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(4,1fr) !important;
    }
}


@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(5,1fr) !important;
    }
} */


/* @media (min-width: 1400px) {
}  */