/* Import icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
/* import font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  box-sizing: border-box !important;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--bs-body-color);
}
a:hover {
  color: inherit;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #61bd8f;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(72, 219, 59, 0.25);
}

.main-nav {
  min-height: 5.5rem;
}
.main-nav .top-slogan {
  color: #179957;
}
.main-nav .categories-dropdown .dropdown-menu {
  display: block !important;
  opacity: 0;
  top: 38px !important;
  margin-top: 1.2rem !important;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  transform: translate(0, 0) !important;
  border: 0;
}
.main-nav .categories-dropdown .dropdown-menu div {
  padding: 0 0.5rem;
}
.main-nav .categories-dropdown .dropdown-menu div .dropdown-item {
  border-radius: 0.3rem !important;
}
.main-nav .categories-dropdown .dropdown-menu div .dropdown-item:active {
  background-color: #179957;
}
.main-nav .categories-dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  top: 0;
  margin-top: 0rem !important;
  visibility: visible;
  transition: all 0.3s ease 0s;
  border: 0;
  box-shadow: 0.1rem 0.1rem 5rem 0.1rem rgba(0, 0, 0, 0.1);
}
.main-nav .input-search {
  height: 2.5rem;
}
.main-nav .btn-top-search {
  height: 1.8rem;
  width: 3rem;
  right: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav .form-control {
  padding-right: 3.6rem !important;
  line-height: 1;
}
.main-nav .top-nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-nav .top-nav-icon .top-icon {
  margin-left: 1.1rem;
}
.main-nav .top-nav-icon .top-icon .main-notifications-icon {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.main-nav .top-nav-icon .notifications-icon {
  position: relative;
}
.main-nav .top-nav-icon .notifications-icon .notifications-content {
  position: absolute;
  right: 0;
  z-index: 9999;
  width: 20rem;
  height: 25rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: none;
}
.main-nav .top-nav-icon .notifications-icon .notifications-content a {
  font-size: 1rem;
  color: inherit;
}
.main-nav .top-nav-icon .notifications-icon .notifications-content .notifications-header {
  padding: 0.5rem 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav .top-nav-icon .notifications-icon .notifications-content .notifications-header .notifications-header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav .top-nav-icon .notifications-icon .notifications-content .notifications-body {
  padding: 0.5rem 0.8rem;
}
.main-nav .top-nav-icon .notifications-icon:hover .notifications-content {
  display: block;
}
.main-nav .top-nav-icon a {
  font-size: 0.9rem;
  color: #5c5c5c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-nav .top-nav-icon a i {
  font-size: 1.4rem;
}
.main-nav .top-nav-icon a .badge {
  font-size: 0.7rem;
  font-family: var(--bs-body-font-family);
}
.main-nav .languages-dropdown {
  margin-left: 0.3rem;
}
.main-nav .languages-dropdown .dropdown-menu {
  padding: 0.5rem 0.2rem;
  min-width: 6rem;
}
.main-nav .languages-dropdown .dropdown-menu li {
  cursor: pointer;
}

.top-carousel-section {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.top-carousel-section .swiper-slide {
  position: relative;
}
.top-carousel-section .swiper-slide .top-slider-content {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}
.top-carousel-section .swiper-pagination-top {
  position: absolute;
  text-align: center;
  bottom: 2%;
  z-index: 1;
}

.banner-top {
  padding-bottom: 3rem;
}
.banner-top .banner-top-content {
  position: relative;
  overflow: hidden;
}
.banner-top .banner-top-content .banner-top-title {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}
.banner-top .banner-top-content .banner-top-image img {
  transform: scale(1);
  transition: all 0.3s ease 0s;
}
.banner-top .banner-top-content:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

.flash-sale-header .flash-sale-title i {
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(241, 173, 53);
  background: radial-gradient(circle, rgb(241, 173, 53) 2%, rgb(255, 0, 0) 64%);
  border: 1px solid red;
  color: #ffffff;
  border-radius: 50%;
}
.flash-sale-header .flash-sale-countdown .flash-sale-countdown-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #179957;
  width: 2rem;
  height: 1.3rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}
.flash-sale-header .swiper-button-next-flash-sale, .flash-sale-header .swiper-button-prev-flash-sale {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  transition: all 0.2s ease 0s;
}
.flash-sale-header .swiper-button-next-flash-sale:hover, .flash-sale-header .swiper-button-prev-flash-sale:hover {
  background-color: #179957;
  color: white;
  border: #179957;
  transition: all 0.2s ease 0s;
}

.flash-sale-section .flash-sale-slider .swiper-wrapper .swiper-slide {
  height: 15rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f5f8;
}
.flash-sale-section .flash-sale-slider .swiper-wrapper .swiper-slide .flash-sale-image {
  width: 100%;
  box-sizing: border-box !important;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.flash-sale-section .flash-sale-slider .swiper-wrapper .swiper-slide .flash-sale-image img {
  background-color: #ffffff;
  border-radius: 1rem;
  transition: all 0.3s ease 0s;
}
.flash-sale-section .flash-sale-slider .swiper-wrapper .swiper-slide .flash-sale-image img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease 0s;
}
.flash-sale-section .flash-sale-slider .swiper-wrapper .swiper-slide .flash-sale-content {
  min-height: 2rem;
  border-radius: 0.5rem;
}
.flash-sale-section .flash-sale-slider .swiper-wrapper .swiper-slide .flash-sale-content .stars-rating {
  font-size: 0.5rem;
  color: #f8d613;
}
.flash-sale-section .flash-sale-slider .swiper-wrapper .swiper-slide .count-sold {
  position: absolute;
  background-color: #179957;
  border: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5rem;
  font-size: 0.9rem;
  color: white;
}
.flash-sale-section .flash-sale-slider .swiper-wrapper .swiper-slide .badge {
  position: absolute;
  background-color: #179957 !important;
  width: 3rem;
  top: 5%;
  left: -1.5%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.flash-sale-section .view-all {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1rem;
}

.vr {
  min-height: 1.5rem;
}

.best-sellers-section {
  padding: 3rem 0;
}
.best-sellers-section .best-sellers-header .best-sellers-title i {
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(241, 173, 53);
  background: radial-gradient(circle, rgb(241, 173, 53) 2%, rgb(255, 0, 0) 64%);
  border: 1px solid red;
  color: #ffffff;
  border-radius: 50%;
}
.best-sellers-section .best-sellers-header .swiper-button-prev-best-sellers, .best-sellers-section .best-sellers-header .swiper-button-next-best-sellers {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  transition: all 0.2s ease 0s;
}
.best-sellers-section .best-sellers-header .swiper-button-prev-best-sellers:hover, .best-sellers-section .best-sellers-header .swiper-button-next-best-sellers:hover {
  background-color: #179957;
  color: white;
  border: #179957;
  transition: all 0.2s ease 0s;
}
.best-sellers-section .swiper-slide .single-product {
  height: 22rem;
  text-align: center;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  transition: all 0.05s ease 0s;
  position: relative;
}
.best-sellers-section .swiper-slide .single-product .single-product-item-title:hover {
  color: #179957;
}
.best-sellers-section .swiper-slide .single-product:hover {
  border: var(--bs-border-width) var(--bs-border-style) #179957;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.05s ease 0s;
}
.best-sellers-section .swiper-slide .single-product .banner-bestseller {
  transform: scale(0.5);
  top: -7.5rem;
  left: -6rem;
  width: 15rem;
  height: 20rem;
  position: absolute;
  z-index: 9999;
  background-image: url("../images/best-seller-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
.best-sellers-section .swiper-slide .single-product .single-product-header {
  background-color: #f6f5f8;
}
.best-sellers-section .swiper-slide .single-product .single-product-content .stars-rating {
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
  font-size: 0.7rem;
  color: #fed800;
  border: #fed800;
}
.best-sellers-section .swiper-slide .single-product .group-btn {
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}
.best-sellers-section .swiper-slide .single-product .group-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1;
  opacity: 1;
  margin-left: 0.5rem;
  transition: all 0.3s ease 0s;
  background-color: #179957;
  color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.3rem;
}
.best-sellers-section .swiper-slide .single-product .group-btn a:active {
  background-color: #0c6137;
}
.best-sellers-section .swiper-slide .single-product .group-btn a:hover {
  background-color: #179957;
  color: #ffffff;
}
.best-sellers-section .view-all {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1rem;
}

.banner-middle-section .banner-item {
  position: relative;
}
.banner-middle-section .banner-item .banner-image img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-middle-section .banner-item .banner-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(0, -50%);
}

.new-arrivals-section .new-arrivals-header .new-arrivals-title i {
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(241, 173, 53);
  background: radial-gradient(circle, rgb(241, 173, 53) 2%, rgb(255, 0, 0) 64%);
  border: 1px solid red;
  color: #ffffff;
  border-radius: 50%;
}
.new-arrivals-section .new-arrivals-products .single-product {
  position: relative;
}
.new-arrivals-section .new-arrivals-products .single-product .group-btn-action {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.new-arrivals-section .new-arrivals-products .single-product .group-btn-action a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2rem;
  height: 2.2rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
  opacity: 0;
  margin: 0.3rem;
  transform: scale(0.5);
  transition: all 0.15s ease 0s;
  background-color: white;
  color: #a5a5a5;
  box-shadow: 0 0.1rem 0.9rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}
.new-arrivals-section .new-arrivals-products .single-product .group-btn-action a:hover {
  background-color: #179957;
  color: #ffffff;
}
.new-arrivals-section .new-arrivals-products .single-product .group-btn-action:hover {
  cursor: pointer;
}
.new-arrivals-section .new-arrivals-products .single-product:hover a {
  opacity: 1;
  transform: scale(1);
  transition: all 0.15s ease 0s;
}

.treding-search-section .treding-search-header .treding-search-title i {
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(241, 173, 53);
  background: radial-gradient(circle, rgb(241, 173, 53) 2%, rgb(255, 0, 0) 64%);
  border: 1px solid red;
  color: #ffffff;
  border-radius: 50%;
}
.treding-search-section .trending-tag-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  border-radius: 0.5rem;
}
.treding-search-section .trending-tag-img img {
  transition: all 0.3s ease 0s;
}
.treding-search-section .trending-tag-img:hover {
  background-color: rgba(243, 243, 243, 0.25);
  border: var(--bs-border-width) var(--bs-border-style) #179957;
}
.treding-search-section .trending-tag-img:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
.treding-search-section .trending-tag-img .trending-title:hover {
  color: #179957;
  font-weight: 700;
}

.food-and-vegetables-section .food-and-vegetables-content .food-and-vegetables-height {
  height: 572px;
}
.food-and-vegetables-section .food-and-vegetables-content .single-product .btn-add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1;
  opacity: 1;
  margin-left: 0.5rem;
  transition: all 0.3s ease 0s;
  background-color: #179957;
  color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.3rem;
  margin-left: 0;
  border-radius: 0;
  width: 100%;
}
.food-and-vegetables-section .food-and-vegetables-content .single-product .btn-add-to-cart:active {
  background-color: #0c6137;
}
.food-and-vegetables-section .food-and-vegetables-content .single-product .btn-add-to-cart:hover {
  background-color: #179957;
  color: #ffffff;
}
.food-and-vegetables-section .food-and-vegetables-content .single-product .bg-image {
  position: absolute;
  width: 10rem;
  height: 10rem;
  z-index: -1;
  background-color: rgba(247, 95, 95, 0.25);
  border-radius: 50%;
}

.recommendation-section {
  padding: 3rem 0;
}
.recommendation-section .recommendation-header .recommendation-title i {
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(241, 173, 53);
  background: radial-gradient(circle, rgb(241, 173, 53) 2%, rgb(255, 0, 0) 64%);
  border: 1px solid red;
  color: #ffffff;
  border-radius: 50%;
}
.recommendation-section .recommendation-header .swiper-button-prev-recommendation, .recommendation-section .recommendation-header .swiper-button-next-recommendation {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid #c3c3c3;
  border-radius: 50%;
  transition: all 0.2s ease 0s;
}
.recommendation-section .recommendation-header .swiper-button-prev-recommendation:hover, .recommendation-section .recommendation-header .swiper-button-next-recommendation:hover {
  background-color: #179957;
  color: white;
  border: #179957;
  transition: all 0.2s ease 0s;
}
.recommendation-section .swiper-slide .single-product {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  transition: all 0.05s ease 0s;
  height: 23rem;
  position: relative;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
}
.recommendation-section .swiper-slide .single-product .single-product-item-title:hover {
  color: #179957;
}
.recommendation-section .swiper-slide .single-product .new-badge {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #179957;
  height: 1.5rem;
  width: 2rem;
  background-color: rgba(179, 255, 135, 0.25);
  border-radius: 0.5rem;
}
.recommendation-section .swiper-slide .single-product:hover {
  border: var(--bs-border-width) var(--bs-border-style) #179957;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.05s ease 0s;
}
.recommendation-section .swiper-slide .single-product .single-product-image {
  margin: 0 1rem;
  position: relative;
}
.recommendation-section .swiper-slide .single-product .single-product-image .recommendation-banner {
  width: 40%;
  height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../images/recommendation.png");
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}
.recommendation-section .swiper-slide .single-product .single-product-content {
  margin: 0 1rem;
}
.recommendation-section .swiper-slide .single-product .single-product-content .stars-rating {
  font-size: 0.7rem;
  color: #fed800;
  border: #fed800;
}
.recommendation-section .swiper-slide .single-product .btn-add-to-cart a {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1;
  opacity: 1;
  margin-left: 0.5rem;
  transition: all 0.3s ease 0s;
  background-color: #179957;
  color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.3rem;
  margin-left: 0rem;
  width: 80%;
  height: 2.3rem;
  border: 1px solid #179957;
}
.recommendation-section .swiper-slide .single-product .btn-add-to-cart a:active {
  background-color: #0c6137;
}
.recommendation-section .swiper-slide .single-product .btn-add-to-cart a:hover {
  background-color: #179957;
  color: #ffffff;
}

.newsletter-section {
  background-image: linear-gradient(to right, #184d47, #1a514b, #1c554f, #1f5a53, #215e57);
  color: #fafafa;
  box-shadow: 0.5rem 0.1rem 5rem 0.3rem rgba(0, 0, 0, 0.1) !important;
}
.newsletter-section .newsletter-header .newsletter-title {
  margin-bottom: 1rem;
}
.newsletter-section .newsletter-header .newsletter-icon i {
  font-size: 4rem;
}
.newsletter-section .form-control {
  padding-left: 2.5rem;
  padding-right: 6rem;
  height: 3rem;
}
.newsletter-section .newsletter-input-icon {
  position: absolute;
  left: 1rem;
  color: #a3a3a3;
}
.newsletter-section .button-subscribe {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.3rem;
  bottom: 0.3rem;
  right: 0.3rem;
  width: auto;
  height: auto;
  background-color: #1c544e;
  color: white;
  border: none;
}
.newsletter-section .button-subscribe:active {
  background-color: #05381e;
}

.slogan-section {
  padding: 3rem 0;
}
.slogan-section .slogan-content {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  border: 1px solid #179957;
  border-radius: 0.5rem;
  transition: all 0.4s ease 0s;
}
.slogan-section .slogan-content .slogan-icon i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  background-color: rgba(23, 153, 87, 0.15);
  border-radius: 50%;
  color: #179957;
  margin-right: 1rem;
}

.footer-section .footer-top {
  padding: 3rem 0;
  background-color: #f0f3f2;
}
.footer-section .footer-bottom {
  padding: 1rem 0;
}
.footer-section .footer-menu-title {
  margin: 0.5rem 0;
}
.footer-section .footer-item {
  margin-bottom: 0.2rem !important;
}
.footer-section .payment-img img {
  max-height: 30px;
}
.footer-section .follow-us-icon {
  display: flex;
  align-items: center;
}
.footer-section .follow-us-icon a {
  display: flex;
  font-size: 1.3rem;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.8rem;
  text-decoration: none;
}
.footer-section .follow-us-icon a .fa-square-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.footer-section .follow-us-icon a .fa-square-facebook {
  color: #3B5998;
}
.footer-section .follow-us-icon a .fa-tiktok {
  color: #111111;
  filter: drop-shadow(2px 0px 0px #FD3E3E) drop-shadow(-2px -2px 0px #4DE8F4);
}
.footer-section .follow-us-icon a .fa-youtube {
  color: red;
}

.btn-group-right {
  z-index: 9999;
  position: fixed;
  bottom: 25%;
  right: 4%;
  display: flex;
  flex-direction: column;
}
.btn-group-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 1;
  opacity: 1;
  margin-left: 0.5rem;
  transition: all 0.3s ease 0s;
  background-color: #179957;
  color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0.3rem;
  background-color: white;
  color: rgb(163, 163, 163);
  font-size: 1.2rem;
  height: 2rem;
  width: 2rem;
  margin-bottom: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 0.5rem;
}
.btn-group-right a:active {
  background-color: #0c6137;
}
.btn-group-right a:hover {
  background-color: #179957;
  color: #ffffff;
}

.modal-open {
  overflow: inherit;
}

#quick-view-modal {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#quick-view-modal .modal-body {
  position: relative;
}
#quick-view-modal .modal-body .icon-close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #179957;
  color: white;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#quick-view-modal .modal-body .quick-view-content .product-type {
  color: #179957;
  font-weight: 500;
}
#quick-view-modal .modal-body .quick-view-content .product-title {
  margin-top: 1rem;
}
#quick-view-modal .modal-body .quick-view-content .stars-rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#quick-view-modal .modal-body .quick-view-content .stars-rating i {
  color: gold;
  font-size: 0.8rem;
}
#quick-view-modal .modal-body .quick-view-content .stars-rating .count-sold {
  margin-left: 0.5rem;
}
#quick-view-modal .modal-body .quick-view-content .price {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 650;
}
#quick-view-modal .modal-body .quick-view-content .price span {
  margin-right: 0.7rem;
}
#quick-view-modal .modal-body .quick-view-content .price .old-price {
  text-decoration: line-through;
  font-weight: normal;
}
#quick-view-modal .modal-body .quick-view-content .price .discount {
  font-size: 0.8rem;
  font-weight: lighter;
  color: red;
  background-color: rgba(255, 0, 0, 0.15);
  border-radius: 0.2rem;
}
#quick-view-modal .modal-body .quick-view-content .button-input .btn {
  font-weight: 500;
  margin-right: 0.25rem;
}
#quick-view-modal .modal-body .quick-view-content .button-input .btn:focus {
  background-color: rgb(92, 91, 91);
  color: white;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25) !important;
}
#quick-view-modal .modal-body .quick-view-content .quantity {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 1.2rem;
}
#quick-view-modal .modal-body .quick-view-content .quantity .btn-sm {
  border: 1px solid #c3c3c3;
}
#quick-view-modal .modal-body .quick-view-content .quantity .btn-sm:nth-child(1) {
  border-radius: 0.3rem 0 0 0.3rem;
  width: 2rem !important;
  margin-right: -1px;
}
#quick-view-modal .modal-body .quick-view-content .quantity .btn-sm:nth-child(3) {
  border-radius: 0 0.3rem 0.3rem 0;
  width: 2rem !important;
  margin-left: -1px;
  margin-right: 1rem;
}
#quick-view-modal .modal-body .quick-view-content .quantity .form-control {
  border-radius: 0;
  width: 2rem !important;
  text-align: center;
}
#quick-view-modal .modal-body .quick-view-content .quantity .form-control:focus {
  box-shadow: none !important;
  border-color: #c3c3c3;
}
#quick-view-modal .modal-body .quick-view-content hr {
  color: #c4c4c4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.swiper-quick-view {
  width: 100%;
  height: auto;
  border-radius: 0.5rem !important;
}

.swiper-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiper-thumbs .swiper-slide {
  opacity: 0.4;
}
.swiper-thumbs .swiper-slide:hover {
  cursor: pointer;
}

.swiper-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */